.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.block {
    text-align: center;
}

.btn {
    background: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px 30px;
    align-self: center;
}

.btn:active {
    outline: none;
    border: none;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: wheat;
    top: 0;
    left: 0;
    display: none;
}

.overlay--active {
    display: block;
}

.modal-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #919191;
    color: wheat;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    position: relative;
}

.modal__content {
    text-align: center;
}

.modal__close {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    background: blueviolet;
    color: wheat;
}